*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

/* body {
 background color
} */


.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 36px;
    margin-left: 120px;
    color:rgb(55, 124, 55);
}
.colour-green{
    color:#33d476
}
.banner-buttons {
    display: flex;          
    justify-content: center; 
    gap: 20px;              
    margin-top: 20px; 
}

.btn{
    background-color: #30B868;
    color: #FFFFFF;
    border:none;
    padding:12px 16px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: semi bold;
    gap:20px;
    margin: top 40px;
     
}
.btn.secondary{ 
  background-color: transparent;
  color: #FFFFFF;
  border: 2px solid #000000;
}




header {
    background-color: #FFFFFF;
    padding-top: 21px;
    padding-bottom: 35;
}

 nav {
    
    max-width:  1140px;
    border: 1px solid #30B868;
    margin: 0 auto;
     
    display: flex;
    align-items: center;
    justify-content:space-between;
}

     

 

nav .menu{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 50px;
}

 
nav .menu li a {
    text-decoration: none;   
    color: #000000 ;         
    font-size: 16px;
}

.banner{
    border: 1px solid black;
   background-image: url("../assets/cropped-hands-woman-writing-book 1.png");
height: 647px;
 background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;


    
}
.kola{
    background-color:#FFFFFF;
    height: 35px;
    width: 229px;
     align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    border-radius: 50px;
    


}
.banner-content{
    align-items: center;
    justify-items: center;
}

.lichi{
    color: #30B868;
}




.mango{
  border:0px;
}

.mango-text{
  color:#FFFFFF;
  font-size: 15px;
  text-align: center;
  line-height: 25px;
}

.pen{
  border:0px;
}

.pen-text{
  color:#FFFFFF;
  font-size: 15px;
  text-align: center;
  line-height: 10px;
}


.cow, .dog {          
  margin: px auto;      
  border: 0px;
  border-radius: 0px;    
  display: flex;
  justify-content: center; 
  align-items: center;     
  text-align: center;
  
}


.cow-text {
  color: #FFFFFF;
  font-size: 50px;
  font-weight: bold;
}


.dog-text {
  color: #30B868;
  font-size: 50px;
  font-weight: bold;
}

 #about {
  padding-top: 36px;
}

#about .about-container {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff;
  padding: 20px 40px;
}
.about-info{
  display: flex;
  margin-top: 44px;
  gap: 80px;
   padding: 24px;
  
  box-shadow: 0 0 8px #000000e1;

}
.section-heading h1 {
  margin-bottom: 16px; 
}
 
.
.info-card img { 
  
  padding: 16px;
  gap: 120px;
  
  max-width: 196px;
  
    
  
  
}
.img-div {
 background-color: orangered;
 height: 60px;
 width: 60px;
 margin:0 auto;
 border-radius: 100%;
  
}


.info-card h3 {
  font-size: 24px;
   color: #001931;
   margin: 16px;
}
.info-card p { 
  font-size: 16px;
  line-height: 20px;

}

 #banner { 
    margin: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse; /* <-- এটা ছবিটাকে বাম এবং লেখাকে ডান করবে */
}
  
 #banner .banner-content .MEW p {
  color: #30B868;  
 }

 .tick-list {
  list-style: none; /* default bullet remove */
  padding: 0;
  margin: 0;
}

.tick-list li {
  position: relative;        
  margin-bottom: 15px;       
  padding-left: 35px;        
  font-size: 16px;
}

 
 .tick-list {
  list-style: none; /* default bullet remove */
  padding: 0;
  margin: 0;
}

.tick-list li {
  position: relative;        
  margin-bottom: 15px;     
  padding-left: 35px;        
  font-size: 16px;
}

 
 .tick-list {
  list-style: none;  /
  padding: 0;
  margin: 0;
}

.tick-list li {
  position: relative;        
  margin-bottom: 15px;        
  padding-left: 35px;        
  font-size: 16px;
}

  
.tick-list li::before {
  content: "✔";             
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  border-radius: 50%;           
  background-color: #22c55e;   
  color: #fff;                
  text-align: center;
  line-height: 22px;           
  font-weight: bold;
}

#banner {
  display: flex;
  flex-direction: column;      
  justify-content: center;       
  align-items: center;           
  text-align: center;            
  padding:80px 256px;        
  background-color: #F7F6F2
}

.cta-btn {
  padding: 12px  16px;      
  font-size: 15px;     
  background-color: #22c55e;  
  color: white;               
  border: none;               
  border-radius: 8px;         
  cursor: pointer;  
   
  margin-top: 20px;           
}









   